.page {
    padding: 0 10px;
}

.header {
    margin: 0 auto;
    display: flex;
    max-width: 1520px;
    padding: 24px 48px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 64px;
    border: 4px solid #478BF9;
    gap: 200px;
    background-color: #110A1D;

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        p {
            color: #FFF;
            font: 400 16px Lexend;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .btnWrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .lenguage {
            cursor: pointer;
            display: flex;
            padding: 14px;
            justify-content: space-between;
            gap: 8px;
            width: 80px;

            border-radius: 24px;
            border: 2px solid #9DADF2;

            .imgLeng {
                background-image: url("../../assets/Icon\ -\ Planet.svg");
                background-size: contain;
                background-repeat: no-repeat;
                width: 18px;
                height: 18px;
            }

            p {
                color: #FFF;
                text-align: center;
                font: 400 16px Lexend;
            }
        }

        .btn {
            border-radius: 24px;
            border: 2px solid #9DADF2;
            padding: 14px;
            color: #FFF;
            font: 400 16px Lexend;
            line-height: 20px;
            cursor: pointer;

            p {
                transition: 0.5s;
            }

            &:last-child {
                border: none;
                background-color: rgb(29, 108, 255);
                transition: 0.5s;
            }

            &:hover {
                &:last-child {
                    background-color: rgb(78, 125, 253);
                }

                p {
                    transform: scale(1.1);
                }
            }
        }

    }

    .hamburger_menu {
        display: none;
    }

}

.burger,
.burgerNon {
    display: none;
}

.main {
    display: flex;
    justify-content: space-between;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        h1 {
            color: #FFF;
            font: 500 96px Lexend;
            line-height: 96px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span:last-child {
                color: #478BF9;
            }
        }

        p {
            color: rgba(255, 255, 255, 0.60);
            font: 500 32px Lexend;
            line-height: 32px;
        }

        .btnTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            border-radius: 48px;
            padding: 20px 72px;
            font: 400 16px Lexend;
            line-height: 20px;
            cursor: pointer;
            background-color: #478BF9;

            p {
                color: #FFF;
                transition: 0.5s;
            }

            &:hover {
                p {
                    transform: scale(1.1);
                }
            }
        }
    }

    .wrapperImgFly {
        display: flex;
        position: absolute;
        z-index: -1;
        width: 100%;
        justify-content: center;
        top: 0;

        .img1 {
            background-image: url(../../assets/Line_Vertical_1.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 101px;
            height: 1100px;
            animation: moveItem 3s ease infinite alternate;
        }

        .img2 {
            background-image: url(../../assets/Line_Vertical_2.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 101px;
            height: 1100px;
            animation: moveItem2 3s ease infinite alternate;
        }

        .img3 {
            background-image: url(../../assets/Line_Vertical_3.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 101px;
            height: 1100px;
            animation: moveItem 3s ease infinite alternate;
        }

        @keyframes moveItem {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(4%);
            }

        }

        @keyframes moveItem2 {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-6%);
            }
        }
    }


    .blog {
        margin: 140px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;

        h1 {
            text-align: center;
            color: #FFF;
            font: 600 40px Lexend;
        }


        .blogBorder {
            border-radius: 100px;
            border: 3px solid #458af7;
            background: #ffffff1f;

            padding-right: 10px;
            width: 500px;
            height: 604px;

            .blogWrapper {
                margin: 0;
                border-radius: 100px;

                height: 600px;

                padding: 24px 30px 20px 16px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 8px;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #478BF9;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-track {
                    margin: 100px 0;
                    border-radius: 10px;
                    background: #ffffff1f;
                }

                .infoBlog {
                    border-radius: 196px;
                    background: #1E1231;
                    padding: 16px 64px;
                    transition: 0.5s;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 14px;

                    &:hover {
                        background: #478BF9;
                        cursor: pointer;
                    }

                    p {
                        color: #FFF;
                        font: 400 24px Lexend;
                        line-height: 28px;

                        &:last-child {
                            color: #ffffff99;
                            font: 450 14px Futura PT;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    margin: auto;
    max-width: 1520px;
    padding: 40px 140px 24px 140px;

    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid #478BF9;
    border-right: 4px solid #478BF9;
    border-left: 4px solid #478BF9;

    display: flex;
    justify-content: space-between;
    background: #1E1231;

    .navFooter {
        height: 66px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 30px;

        p {
            color: #FFF;
            font: 400 16px Lexend;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                color: #478BF9;
            }
        }

    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;

        p {
            color: #FFF;
            text-align: right;
            font: 400 16px Lexend;
        }

        .wrapperIcons {

            .fonIcon {
                display: flex;
                gap: 8px;

                .fonIconBlue {
                    background-image: url(../../assets/fonLogo.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                    transition: 0.4s;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-image: url(../../assets/fonLogoNew.png);
                    }

                    .twit {
                        background-image: url(../../assets/Twitter.png);
                    }

                    .face {
                        background-image: url(../../assets/Facebook.png);
                    }

                    .inst {
                        background-image: url(../../assets/Instagram.png);
                    }

                    .linked {
                        background-image: url(../../assets/LinkedIn.png);
                    }

                    .yout {
                        background-image: url(../../assets/you.svg);
                    }

                    .tiktok {
                        background-image: url(../../assets/TikTok.png);
                    }

                    .telegram {
                        background-image: url(../../assets/Telegram.png);
                    }

                    .vk {
                        background-image: url(../../assets/VK.png);
                    }

                    .vk,
                    .telegram,
                    .tiktok,
                    .yout,
                    .linked,
                    .inst,
                    .face,
                    .twit {
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .page {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .header {
            margin: 10px 10px;
            padding: 10px 14px;
            border-radius: 64px;
            border: 2px solid #478BF9;
            background: #110A1D;
            gap: 8px;
            width: 100vh;

            .nav {
                display: none;
            }

            .btnWrapper {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .lenguage {
                    cursor: pointer;
                    padding: 8px;
                    width: 100%;

                    border-radius: 24px;
                    border: 2px solid var #9DADF2;

                    .imgLeng {
                        background-image: url('../../assets/Icon\ -\ Planet.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                    }

                    .langv {
                        display: none;
                    }
                }

                .btn {
                    display: none;
                }

                .hamburger_menu {
                    display: flex;

                    .imgBurger {
                        background-image: url('../../assets/burger1.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 50px;
                        height: 50px;
                    }

                    .imgBurger2 {
                        background-image: url('../../assets/burger2.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }

        .burger {
            display: flex;
            flex-direction: column;
            width: 100vh;
            justify-content: center;
            margin: 30px 0 0 10px;
            gap: 40px;

            .burgerInfo {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 100vh;
                gap: 10px;

                .burgerParagraff {
                    border: 2px solid #478BF9;
                    border-radius: 64px;

                    p {
                        font: 400 18px Lexend;
                        color: #FFF;
                        padding: 13px 20px;
                    }

                    &:hover {
                        p {
                            color: #478BF9;
                        }
                    }
                }
            }

            .burgerButton {
                display: flex;
                flex-direction: column;
                width: 100vh;
                margin: auto;
                gap: 10px;

                .burgerBtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 24px;
                    border: 2px solid #9DADF2;
                    padding: 14px;
                    color: #FFF;
                    font: 400 16px Lexend;
                    background-color: #1E1231;

                    p {
                        transition: 0.5s;
                    }

                    &:last-child {
                        border: none;
                        background-color: rgb(29, 108, 255);
                        transition: 0.5s;
                    }

                    &:hover {
                        &:last-child {
                            background-color: rgb(78, 125, 253);
                        }
                    }
                }
            }
        }

        .main {
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 250px;
            width: 100vh;
            // padding: 10px 14px;
            position: relative;
            overflow: hidden;

            .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 12px;

                h1 {
                    color: #FFF;
                    text-align: center;
                    font: 500 100px Lexend;
                    line-height: 90px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    span:last-child {
                        color: #478BF9;
                    }
                }

                p {
                    color: #ffffff99;
                    font: 500 40px Lexend;
                    text-align: center;
                }

                .btnTitle {
                    margin-top: 25px;
                    text-align: center;

                    p {
                        border-radius: 48px;
                        text-align: center;
                        padding: 5px 20px;
                        font: 600 18px Lexend;
                        text-transform: uppercase;
                    }
                }
            }

            .wrapperImgFly {
                display: flex;
                flex-direction: column;
                gap: 10px;
                left: 0;
                top: 470px;

                .img1 {
                    background-image: url(../../assets/Line_Vertical_1adaptiv.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 1100px;
                    height: 101px;
                    animation: none;
                    animation: animationItem 5s linear infinite alternate;
                }

                .img2 {
                    background-image: url(../../assets/Line_Vertical_2adaptiv.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 1100px;
                    height: 101px;
                    animation: none;
                    position: absolute;
                    left: -100px;
                    bottom: -100px;
                    animation: animationItem2 5s linear infinite alternate;
                }

                .img3 {
                    background-image: url(../../assets/Line_Vertical_3adaptiv.png);
                    background-repeat: no-repeat;
                    width: 1100px;
                    height: 101px;
                    background-size: contain;
                    animation: none;
                    position: absolute;
                    bottom: -210px;
                    animation: animationItem 5s linear infinite alternate;
                }


                @keyframes animationItem {
                    0% {
                        background-position: left 0 top 0;
                    }

                    100% {
                        background-position: left -100px top 0;
                    }

                }

                @keyframes animationItem2 {
                    0% {
                        background-position: left 0 top 0;
                    }

                    100% {
                        background-position: left 100px top 0;
                    }
                }
            }

            .blog {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .blogBorder {
                    border-radius: 50px;
                    border: 2px solid #478BF9;
                    background: #ffffff1f;
                    width: 98vh;
                    height: 550px;

                    .blogWrapper {
                        margin: 0;
                        border-radius: 50px;
                        height: 546px;

                        padding: 10px 16px 10px 16px;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        overflow-y: scroll;

                        .infoBlog {
                            border-radius: 60px;
                            background: #1E1231;
                            padding: 20px 50px;
                            transition: 0.5s;

                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 10px;

                            &:hover {
                                background: #478BF9;
                                cursor: pointer;
                            }

                            p {
                                color: #FFF;
                                font: 400 35px Lexend;


                                &:last-child {
                                    color: #ffffff99;
                                    font: 450 20px Futura PT;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0 0;
            width: 100vh;
            padding: 80px 30px 50px 30px;
            gap: 15px;

            border-radius: 70px 70px 0px 0px;
            border-top: 2px solid #478BF9;
            border-right: 2px solid #478BF9;
            border-left: 2px solid #478BF9;

            .navFooter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;

                p {
                    font: 400 25px Lexend;
                }
            }

            .info {
                margin-top: 80px;

                p {
                    text-align: left;
                    font: 400 20px Lexend;
                }

                .wrapperIcons {

                    .fonIcon {
                        display: flex;
                        gap: 15px;

                        .fonIconBlue {
                            background-image: url(../../assets/fonLogo.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 48px;
                            height: 48px;
                            cursor: pointer;
                            transition: 0.4s;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                background-image: url(../../assets/fonLogoNew.png);
                            }

                            .twit {
                                background-image: url(../../assets/Twitter.png);
                            }

                            .face {
                                background-image: url(../../assets/Facebook.png);
                            }

                            .inst {
                                background-image: url(../../assets/Instagram.png);
                            }

                            .linked {
                                background-image: url(../../assets/LinkedIn.png);
                            }

                            .yout {
                                background-image: url(../../assets/you.svg);
                            }

                            .tiktok {
                                background-image: url(../../assets/TikTok.png);
                            }

                            .telegram {
                                background-image: url(../../assets/Telegram.png);
                            }

                            .vk {
                                background-image: url(../../assets/VK.png);
                            }

                            .vk,
                            .telegram,
                            .tiktok,
                            .yout,
                            .linked,
                            .inst,
                            .face,
                            .twit {
                                background-repeat: no-repeat;
                                background-size: contain;
                                width: 24px;
                                height: 24px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

    }
}